{% extends 'spese/base_spese.html' %}
    
    {% block operations %}
    <div class="container">
        <div class="u-full-width">
            <nav class="navbar operations">
                <ul>
                    <li> <a href="{% url 'veicoli:add' %}">add</a> </li>
                    <!-- <li> <a href="{% url 'spese:delete' expense.pk %}">delete</a> </li> -->
                </ul>
            </nav>
        </div>
    </div>
    {% endblock %}

    {% block operation_content %}    
    <div class="container">
        <div class="u-full-width">
        
        <div class="expense">
            <p>Vehicle: {{ event.vehicle.name }} </p>
            <p>Event type: {{ event.vevent.description }} </p>
            <p>km: {{ event.km }} </p>
            <p>unit cost: {{ event.unit_cost }} </p>            
        </div>

        <hr>
        
        <div class="expense">
            <p>Payed by: {{ expense.account.name }} </p>
            <p>on: {{ expense.date }} </p>
            <p>{{ expense.description }} </p>
            <p>amount: {{ expense.amount }} </p>
            {% if expense.tags.count > 0 %}
                <ul> Type of expense: 
                {% for tag in expense.tags.names %}
                    <li class="label-expense-type"> {{ tag }} </li>&nbsp
                {% endfor %}
                </ul>
                
            {% endif %}
            
        </div>

        </div>
    </div>    
    {% endblock %}
