{% extends 'spese/base_spese.html' %}

    {% block operations %}
    <div class="container">
        <div class="u-full-width">
            <nav class="navbar operations">
                <ul>
                   <li> <a href="{% url 'veicoli:add' %}">add</a> </li>
                   <li> <a href="{% url 'veicoli:reports' %}">reports</a> </li>
                </ul>
            </nav>
        </div>
    </div>
    {% endblock %}

    {% block operation_content %}
    <div class="container">
        <details class="spese-filter">
            <summary>Set filter</summary>
            <div class="u-full-width">
                <form action="" method="get">
                    {% for field in event_list.form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="submit" />
                </form>
            </div>
        </details>
        <div class="u-full-width">
        {% if event_list %}
            <table class="u-full-width">
            <thead>
                <tr>
                    <th>vehicle</th>
                    <th>event type</th>
                    <th>account</th>
                    <th>date</th>
                    <th>description</th>
                    <th>amount</th>
                </tr>
            </thead>
            <tbody>
            {% for event in event_list.qs %}
                <tr>
                    <td>{{ event.vehicle.name }}</td>
                    <td>{{ event.vevent.name }}</td>
                    <td>{{ event.expense.account.name }}</td>
                    <td>{{ event.expense.date }}</td>
                    <td><a href="{% url 'veicoli:detail' event.expense.id %}">{{ event.expense.description }}</a></td>
                    <td class="s-text-right">{{ event.expense.amount }}</td>
                    <!-- <td style="text-align:right" >{{ expense.amount }}</td> -->
                </tr>
            {% endfor %}
            </tbody>
            </table> 
        {% else %}
            <p>No events are available.</p>
        {% endif %}
        </div>
    </div>    
    {% endblock %}
