{% extends 'spese/base_spese.html' %}


    {% block operation_content %}
    <div class="container">
        <details class="spese-filter">
            <summary>Set filter</summary>
            <div class="u-full-width">
                <form action="" method="get">
                    {% for field in event_list.form %}
                        <div class="fieldWrapper">
                            {{ field.errors }}
                            {{ field.label_tag }} {{ field }}
                            {% if field.help_text %}
                                <p class="help">{{ field.help_text|safe }}</p>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <input type="submit" />
                </form>
            </div>
        </details>
        <div class="u-full-width">
            <div class="table_balance">
                {% if list_gas_consumption %}
                    <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>consumption: vehicle</th>
                            <th class="s-text-right" style="width:20%">km</th>
                            <th class="s-text-right" style="width:20%">litres</th>
                            <th class="s-text-right" style="width:20%">km/l</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in list_gas_consumption %}
                        <tr>
                            <td>{{ item.name }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.km }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.fuel_quantity }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.unit_consumption }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table> 
                {% else %}
                    <p>No vehicles are available.</p>
                {% endif %}
            </div>
            <div class="table_balance">
                {% if list_repo_vehicles %}
                    <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>expenses: vehicle</th>
                            <th class="s-text-right" style="width:20%">in</th>
                            <th class="s-text-right" style="width:20%">out</th>
                            <th class="s-text-right" style="width:20%">balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in list_repo_vehicles %}
                        <tr {% if forloop.last %} class='last_tr'{% endif %} >
                            <td>{{ item.name }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.positive }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.negative }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.balance }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table> 
                {% else %}
                    <p>No vehicles are available.</p>
                {% endif %}
            </div>

            <div class="table_balance">
                {% if list_repo_event_type %}
                    <table class="u-full-width">
                    <thead>
                        <tr>
                            <th>event type</th>
                            <th class="s-text-right" style="width:20%">in</th>
                            <th class="s-text-right" style="width:20%">out</th>
                            <th class="s-text-right" style="width:20%">balance</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for item in list_repo_event_type %}
                        <tr {% if forloop.last %} class='last_tr'{% endif %} >
                            <td>{{ item.name }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.positive }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.negative }}</td>
                            <td class="s-text-right" style="width:20%">{{ item.balance }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table> 
                {% else %}
                    <p>No event types are available.</p>
                {% endif %}
            </div>

        </div>
    </div>    
    {% endblock %}
