{% extends 'spese/base_spese.html' %}
    
    {% block operation_content %}
    <div class="container">
        <div class="u-full-width">
        <form method="POST" class="expense-form">
            {% csrf_token %}
            
            <div class="fieldWrapper">
                <label for="account">Account: </label>
                <select name="account">
                    {% for s in accounts %}
                        <option value="{{ s.pk }}" {% if account_selected == s.pk %} selected {% endif %} >
                                       {{ s.name }}
                        </option>
                    {% endfor %}
                </select><br />
            </div>
            
            {{ form.as_p }}
            
            <div class="fieldWrapper">
                <fieldset>
                <legend> Type of expense: </legend>
                {% for tag in alltags %}
                    <span class="span-expense-type">
                    <input type="checkbox" name="choice" id="choice{{ forloop.counter }}" class="input-expense-type" value="{{ tag.name }}"
                              {% if tag.name in tags_selected %}checked{% endif %}/>
                    <label for="choice{{ forloop.counter }}" class="label-expense-type">{{ tag.name }}</label>&nbsp;
                    </span>
                {% endfor %}
                </fieldset>
            </div>
            
            <button type="submit" class="button" name="save" >Save</button>
            <button type="submit" class="button-primary" name="save_and_continue" >Save &amp; continue</button>
        </form>
        </div>
    </div>    
    {% endblock %}
