{% extends 'spese/base_spese.html' %}


    {% block operation_content %}
    <div class="container">
        <div class="u-full-width">
        {% if list %}
            <table class="u-full-width">
            <thead>
                <tr>
                    {% if page_identification == 'Spese: Accounts balance' %}
                        <th>source</th>
                    {% elif page_identification == 'Spese: Tags balance' %}
                        <th>tag</th>
                    {% endif %}
                    <th class="s-text-right">in</th>
                    <th class="s-text-right">out</th>
                    <th class="s-text-right">balance</th>
                </tr>
            </thead>
            <tbody>
            {% for item in list %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td class="s-text-right">{{ item.positive }}</td>
                    <td class="s-text-right">{{ item.negative }}</td>
                    <td class="s-text-right">{{ item.balance }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table> 
        {% else %}
            <p>No accounts are available.</p>
        {% endif %}
        </div>
    </div>    
    {% endblock %}
