{% extends 'base.html' %}
{% load staticfiles %}
    
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'spese/spese.css' %}">
{% endblock %}

{% block content %}

    {% block page_identification %}
    {% endblock %}

    {% block operations %}
    {% endblock %}

    {% if messages %}
    <div class="container">
        <div class="u-full-width">
            <ul class="messages">
                {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% block operation_content %}
    {% endblock %}

{% endblock %}

{% block javascript %}
{% endblock %}
