{% extends 'base.html' %}
{% load staticfiles %}
    
{% block stylesheet %}
    <link rel="stylesheet" href="{% static 'spese/spese.css' %}">
{% endblock %}

{% block content %}

    {% block page_identification %}
    <div class="container">
            <div class="u-full-width">
            <h1>  {{ page_identification }} </h1>
        </div>
    </div>
    {% endblock %}

    {% block operations %}
    {% endblock %}

    {% if messages %}
    <div class="container">
        <div class="u-full-width">
            <ul class="messages">
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                    {% if 'safe' in message.tags %} {{ message|safe }}{% else %}{{ message }}{% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    {% endif %}

    {% block operation_content %}
    {% endblock %}

{% endblock %}

{% block javascript %}
{% endblock %}
