{% extends 'spese/base_spese.html' %}
{% load verbose_names %}
    
    {% block operations %}
    <div class="container">
        <div class="u-full-width">
            <nav class="navbar operations">
                <ul>
                    <li> <a href="{% url 'spese:add' %}">add</a> </li>
                    <li> <a href="{% url 'spese:change' expense.pk %}">change</a> </li>
                    <li> <a href="{% url 'spese:toggle' expense.pk %}">toggle</a> </li>
                    <li> <a href="{% url 'spese:delete' expense.pk %}">delete</a> </li>
                </ul>
            </nav>
        </div>
    </div>
    {% endblock %}

    {% block operation_content %}    
    <div class="container">
        <div class="u-full-width">
        <div class="expense">
            <p>{% get_verbose_field_name expense "account" %}:{{ expense.account.name }}</p>
            {% if expense.work_cost_type %}
                <p>{% get_verbose_field_name expense "work_cost_type" %}: {{ expense.work_cost_type.name }} </p>
            {% endif %}
            <p>{% get_verbose_field_name expense "date" %}: {{ expense.date }} </p>
            <p>{% get_verbose_field_name expense "description" %}: {{ expense.description }} </p>
            <p>{% get_verbose_field_name expense "amount" %}: {{ expense.amount }} </p>
            {% if expense.tags.count > 0 %}
                <ul> {% get_verbose_field_name expense "tags" %}: 
                {% for tag in expense.tags.names %}
                    <li class="label-expense-type"> {{ tag }} </li>&nbsp
                {% endfor %}
                </ul>
                
            {% endif %}
            
        </div>
        </div>
    </div>    
    {% endblock %}
