{% load staticfiles %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,300,600' rel='stylesheet' type='text/css'>
        <title> {% block title %} Servizi {% endblock %} </title>
        <!-- Core CSS - Include with every page -->
        <link rel="stylesheet" href="{% static 'css/normalize.css' %}">
        <link rel="stylesheet" href="{% static 'css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        
        {% block stylesheet %}
        {% endblock %}
        
        <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}" />
    </head>
    <body>
        <header>
            <div class="container">
            <div class="row">
                <div class="three columns">
                    <div id="logo">
                        <a href="{% url 'home' %}">Servizi</a>
                    </div>
                </div>
                <div class="nine columns">
                    <nav class="navbar navbar-default">
                        <ul>
                            <li> <a href="{% url 'home' %}">home</a> </li>
                            <li> <a href="{% url 'spese:index' %}">spese</a> </li>
                            <li> <a href="{% url 'veicoli:index' %}">veicoli</a> </li>
                            <!-- <li> <a href="#">Something else here</a> </li> -->
                            <!-- <li class="divider"></li> -->
                            <!-- <li> <a href="#">Separated link</a> </li> -->
                            <!-- <li class="divider"></li> -->
                            <li> <a href="{% url 'logout' %}">Logout</a> </li>
                        </ul>
                    </nav>
                </div>
            </div>
            </div>
        </header>
    
        {% block content %}
        
        
        {% endblock %}
    
    
        <!-- Core Scripts - Include with every page -->
        <!--
        <script src="{% static 'js/jquery-3.1.0.js' %}"></script>
        <script src="{% static 'js/jquery.min.js' %}"></script>
        <script src = "{% static 'js/bootstrap.min.js' %}"></script>
        -->
        {% block javascript %}
        {% endblock %}

        <footer>
            <div class="container">
            <div class="row">
                <div class="eight columns">
                    <nav>
                      <ul>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Contact</a></li>
                        <li><a href="#">Privacy Policy</a></li>
                        <li><a href="#">Terms</a></li>
                      </ul>
                    </nav>
                </div>
                <div class="four columns s-text-right">
                    <p>&copy; 2016, 2017. Servizi. All Rights Reserved. {{ COMMIT_VER }}</p>
                </div>
            </div>
            </div>
        </footer>
    </body>
</html>